.App {
  text-align: center;
  margin: 20px;
}

body {
  background-color: #FFBD15;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.bingo-cell {
  padding-top: 70%;
  position: relative;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.bingo-cell.correct {
  background-color: lightgreen;
}

.bingo-cell > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
}

.final-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.final-overlay.ReactModal__Overlay--after-open {
  opacity: 1;
}

.final-overlay.ReactModal__Overlay--before-close {
  opacity: 0;
}

.final-modal {
  position: relative;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(100px);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.final-modal.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0);
}

.final-modal.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(100px);
}